<h1>All Events!</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= event.title %>
      <%= event.location %>
      <%= event.date %>
    </li>
    <%= link_to 'Show', event_path(event.id) %>
<% end %>
</ul>